.home-header
{
    width: 80%;
    margin: 20px auto 0 auto;
    justify-content: center;
    background-color: #1a1a1a;
    border: 1px solid #2c2c2c;
    border-radius: 10px;
    color: white;
    font-family: Sen, sans-serif;
    margin-bottom: 0;
}

.home-header .header-title
{ 
    display: block;
    text-align: center;
    font-size: 2rem;
    font-weight: 700; 
}

.home-header .header-content
{
    text-indent: 2em;
    font-size: 1rem;
    padding: 0 20px 0 20px;
}